.main-page-register {
    display: flex;
    flex-direction: row !important;
    padding: 120px 50px 50px 50px !important;
    
    .left {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0 ,0.2);
        flex: 1;
        height: 75vh;
        border: 3px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px 0 0 10px;
        border-right: none;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vw;
        background-color: white;
        height: 75vh;
        border: 3px solid rgba(0, 0, 0, 0.2);
        border-radius: 0 10px 10px 0;
        border-left: none;

        .input {
            width: 70% !important;
            display: flex;
            flex-direction: column;
        
            .input-container { 
                display: flex;
                flex-direction: column;
        
                .input-label {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 400;
                    color: black;     
                }
                .input-field {
                    padding: 6px 10px;
                    font-size: 12px;
                    color: #4A4A4A;
                    background-color: #FFF;
                    border: 1px solid #E0E0E0;
                    border-radius: 3px;
                    transition: border-color 0.2s ease, box-shadow 0.2s ease;
        
                    &:focus {
                        border-color: #007BFF;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                    }
        
                    &::placeholder {
                        color: #B0B0B0;
                    }
                }
            }
        }        
            .gotologin {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                
                p {
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.8);
                    font-weight: 500;
                    text-decoration: none !important;
                }

                .registerPageCustomLink {
                    color: blue;
                    font-size: 16px;
                    border-bottom: 1px solid transparent;
                    transition: border-color 0.3s;
                    text-decoration: none !important;

                    &:hover {
                        border-bottom: 1px solid white;
                    }
                }
            }
        }
    }

@media (max-width: 1210px) {
    .main-page-register .right {
        width: 30vw;
    }
}

@media (max-width: 1090px) {
    .main-page-register .right {
        width: 40vw;
    }
}

@media (max-width: 890px) {
    .main-page-register .right {
        width: 45vw;
    }
}

@media (max-width: 780px) {
    .main-page-register .right {
        width: 100vw;
        border: 3px solid rgba(0, 0, 0, 0.2) !important;
        border-radius: 10px !important;
        background-image: var(--RightRegister);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .main-page-register .left {
        display: none;
    }
}

@media (max-width: 550px) {
    .main-page-register {
        padding: 100px 20px 0px 20px !important;
    }
    .main-page-register .left {
        display: none;
    }
}
