.product {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: white;
    .img {
        height: 100px;
        width: 100px;
        border: 1px solid rgba(0,0,0,0.1);
    }
  }

