.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; // Ensure the content stretches to the full height of the viewport.
  }

  .listing {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    h1 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 220px;
        height: 140px;
        
        background: linear-gradient(135deg, #FFA500, #ff4242, #FFA500);
        color: #FFFFFF;

        font-size: 24px;
        font-weight: 600;  
        border-radius: 12px; 
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
        overflow: hidden; 
        transition: all 0.3s ease-in-out;

        &:before, 
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: -150%;
            width: 50%;
            height: 100%;
            background: rgba(255, 255, 255, 0.2);
            transform: skewX(-20deg) translateY(-50%);
            pointer-events: none;
            animation: shimmer 3s infinite;
            visibility: hidden; /* initially hidden */
        }

        &:after {
            animation-delay: 2s;
        }

        &:hover {
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);

            &:before,
            &:after {
                visibility: visible; /* make them visible on hover */
            }
        }
        @media (max-width: 960px) {
          width: 160px;
          height: 110px;
          font-size: 18px;
      }
    
        @media (max-width: 768px) {
          width: 130px;
          height: 90px;
          font-size: 14px;
      }
    }

    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
  }

    @keyframes shimmer {
        100% {
            left: 250%;
        }
    }
}


.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px; // Restrict maximum width for better presentation on wide screens.
  align-items: center;
}

.search {
  width: 100%;
  max-width: 600px; // A wider search input for modern aesthetics.
  position: relative; // For potential icon or additional elements inside the search.

  label {
    display: none; // Hide the label since the placeholder provides the necessary hint.
  }

  input {
    width: 100%;
    padding: 12px 24px; 
    font-size: 18px; // A slightly larger font size.
    border: none; 
    border-radius: 30px; // Rounded borders for the input.
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // A subtle shadow for depth.
    transition: box-shadow 0.3s ease, transform 0.3s ease; // Transition for interaction feedback.

    &:focus {
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      outline: none;
      transform: translateY(-3px); // Slight lift when focused.
    }
  }
}