.button {
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: white;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.4s;

    &:before {
        content: '';
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.6);
        width: 60px;
        height: 100%;
        left: -70px;
        top: 0;
        transform: skewX(-15deg);
        transition: left 0.7s;
    }

    &:hover {
        background: linear-gradient(90deg, rgba(252, 70, 107, 1) 0%, rgba(63, 94, 251, 1) 100%);
    }

    &:hover:before {
        left: 140%;
    }

    &:focus {
        outline: none;
    }
}
